/*초기화*/
*{margin: 0; padding: 0; box-sizing: border-box;}
ul, li{list-style: none;}
a{text-decoration: none; color: inherit;}

section{width: 1200px; margin: 0 auto; overflow: hidden;}

/*상단부분 : container*/
.container1{
  width: 1200px;
  margin: 0 auto;
  padding: 40px 90px 0; /*위:40px , 좌우:90px 여백 설정*/
  display: flex;  /*요소 나란히 정렬*/
  justify-content: space-between; /*양끝에 배치*/
  align-items: center;  /*가운데정렬*/
  position: relative; /*유령의 집화*/
}
.container1::before{
  content: "";  /*가짜속성*/
  display: block;
  position: absolute; /*공중에 띄움*/
  width: 430px;
  height: 340px;
  background-color: gold;
  border-radius: 0 40px 40px 0; /*오른쪽 모서리만 둥글게 설정*/
  top: calc(50% - 170px); /*위치설정*/
  left: 0;
  z-index: -1;  /*요소 맨뒤로 배치*/
}
.container1 > .thumbs{
  width: 560px;
  display: flex;
  flex-wrap: wrap;  /*줄바꿈*/
  gap: 20px;  /*items사이 여백 설정*/
}
.thumbs > .box > li{
  width: 270px;
  height: 320px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 45px 20px;
}
.thumbs > .box:nth-child(2){
  margin-top: 140px;
}

/*아이콘*/
.box > li i{  
  font-size: 40px;
  color: white;
}
/*아이콘이 들어가는 박스*/
.box > li > .user-icon{
  width: 70px;
  height: 70px;
  background-color: gray;
  border-radius: 50%;
  text-align: center;
  display: flex;  /*아이콘 가운데 위치하도록 설정*/
  justify-content: center;
  align-items: center;
}
/*1번째 user-icon*/
.box:first-child > li:first-child > .user-icon{
  background-color: lightseagreen;
}
/*2번째 user-icon*/
.box:first-child > li:last-child > .user-icon{
  background-color: gold;
}
/*3번째 user-icon*/
.box:last-child > li:first-child > .user-icon{
  background-color: dodgerblue;
}
/*4번째 user-icon*/
.box:last-child > li:last-child > .user-icon{
  background-color: tomato;
}
.box > li > h2{
  font-size: 18px;
  margin: 25px 0;
}
.box > li > p{
  font-size: 14px;
}

/*오른쪽 텍스트 요소*/
.container1 > .txt{
  width: 420px;
}
.container1 > .txt > h1{
  font-size: 60px;
  letter-spacing: -2px; /*(-)값으로 자간 좁히기*/
  line-height: 1.1;
}
.container1 > .txt > h1 > b{
  font-size: 20px;
  letter-spacing: 2px;
  color: #666;
  font-weight: normal;  /*글씨 얇게 설정*/
}
.container1 > .txt > p{
  font-size: 16px;
  color: #666;
  line-height: 1.8;
  margin: 20px 0 40px;
}

/*버튼 요소*/
.container1 > .txt > button{
  width: 160px;
  height: 50px;
  font-size: 18px;
  border: 0;
  background-color: #111;
  color: white;
}

/*하단부분 : container2*/
.container2{
  width: 1200px;
  margin: 220px auto 0;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 110px;
  position: relative;
  /*outline: 2px solid red; 영역확인용*/
}
.container2 > .txt{
  width: 490px;
  padding: 0 20px;
}
.container2 > .txt > h1{
  font-size: 50px;
  line-height: 1.1;
}
.container2 > .txt > p{
  font-size: 16px;
  line-height: 1.6;
  margin: 20px 0 40px;
  color: #666;
}
.container2 > .txt > i{
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  color: #666;
}
.container2 > .txt > a{
  text-decoration: underline;
  font-size: 18px;
  font-weight: bold;
  color: #666;
}

/*노란색배경 가짜속성*/
.container2::before{
  content: "";
  position: absolute;
  width: 600px;
  height: 160px;
  background-color: gold;
  top: calc(50% - 65px);  /*위치설정*/
  left: 0;
  z-index: -1;
}
.container2::after{
  content: "";
  position: absolute;
  width: 340px;
  height: 340px;
  background-color: gold;
  border-radius: 50%;
  top: -240px;
  right: -40px;
  z-index: -1;
}
.largeImg{
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}